@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #222831;
    --secondary-color: #00ADB5;
    --svg-secondary-filter: invert(51%) sepia(67%) saturate(2685%) hue-rotate(147deg) brightness(93%) contrast(101%);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

.svg{
    filter: var(--svg-secondary-filter);
}

.container {
    max-width: 90vw;
    margin: auto;

}

.header {
    background-color: var(--primary-color);
    margin-top: 0;
    padding: 0.5rem;

    border-radius: 0 0 1rem 1rem;
}

.header h1 {
    font-weight: bolder;
    margin: 0;
    color: var(--secondary-color);
}



input,
button {
    display: block;
    margin: 1rem auto;
    max-width: 90vw;

}

input {
    width: 30vw;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
}

button {
    padding: 0.2rem 2rem;
    font-size: large;
    font-weight: bold;
    border-radius: 0.4rem;
    border-color: var(--primary-color);
    color: black;
    background-color: var(--secondary-color);
    transition: ease 0.2s;
}

button:enabled:hover{
    border-color: var(--secondary-color);
    cursor: pointer;
    transition: ease 0.2s;
}

button:disabled{
    background-color: white;
}

table {
    margin: auto;
    border: solid 4px var(--primary-color);
    width: 70vw;
    max-width: 90vw;
    border-spacing: 0;
}

th,
td {
    border: solid 1px var(--secondary-color);
    font-weight: bold;
    padding:0.2rem;
    width:0%;
}

footer {
    margin: 5rem auto 0;
    max-width: 90vw;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    color: black;
}

.footer h3 {
    margin-top: 0rem;
}

.container-footer-links {
    padding: 0.5rem;
}

.container-footer-links a {
    padding: 1rem 1rem;
}

.icons {
    max-width: 40px;
}

.after-bill,
.message,
#reset-btn,
table {
    display: none;
}